/* 
    반응형 만들기 
    PC먼저 만들기
*/
.product-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.product-container::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.product-container div {
  float: left;
  width: 25%;
  text-align: center;
  margin-bottom: 15px;
}
.product-container h4,
i {
  font-weight: 500;
  margin-bottom: 15px;
}
.product-container i {
  background-color: burlywood;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-top: 25px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  margin-top: 30px;
}
/* 테블릿 & 모바일 */
@media screen and (max-width: 1000px) {
  .product-container div {
    width: 50%;
  }
  .product-container {
    max-width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .product-container div {
    width: 100%;
  }
  .product-container i {
    margin-top: 15px;
  }
}
