@import "setting.css"; /* border-box */
@import "login.css";
@import "main.css";
@import "nav.css";
@import "reset.css";
@import "icon-main.css"; /* 아이콘 모바일 배치 */
@import "shop.css"; /* 상품레이아웃 */

@font-face {
  font-family: "이쁜폰트";
  src: url(../font/NanumSquareR.woff);
  /* 용량많으니 woff 로 ㄱㄱ 많이쓰면 무거워짐 */
}
/* 
    어떻게 class 만들어야 재사용이 가능할지 고민 ㄱㄱ
    재사용했는데 스타일이 더 필요하면 class추가하면됨.
*/
/* 
    vw? 브라우저 폭에 비례
    vh? 브라우저의 높이 비례
    rem? 기본 폰트사이즈에 비례
    기본폰트는 16px 1rem === 16px
    em? 내 폰트사이즈의 x배
*/
body {
  font-family: "이쁜폰트";
  font-weight: 300;
}
/* 
   1200px  --여기부터 태블릿 디자인
  992px 
  768px   --여기부터 모바일 디자인
  576px
  breakpoint 4개 넘어가면 복잡하며, 
  다른사람꺼 따라하기 ㄱㄱ
*/
/* 현재 브라우저 폭이 1200px이하일 경우 */
@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
    /* 이걸 적용해주세요~! */
  }
  .flex-item h1 {
    font-size: 30px;
  }
}
/* 
   상품레이아웃
   애니메이션 만드는 step
   1. 시작 스타일 만들기
   2. 최종 스타일 만들기
   3. 언제 최종스타일로 변하는지?
   4. transition으로 애니메이션
   css === shop.css
*/

/* pseudo-class 특정 요소가 다른 상태일 때
  스타일을 줄 수 있게 도와줌
  : pseudo-class (다른상태일때)
  :: pseudo-element (내부의 일부분만 스타일을 줄때)
*/
/* 
  :: pseudo-element 
  내부의 일부분만 스타일을 줄때.
*/

/* 
  ::after 내부 맨 뒤에 뭔가 추가할 때
  ::before 내부 맨 앞에 뭔가 추가할 때 
*/
/* input[type="file"]::-webkit-file-upload-button {
  background-color: skyblue;
  color: white;
  border: none;
}
input[type="text"]::-webkit-input-placeholder {
  color: red;
  text-align: center;
}
input[type="range"] {
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: red;
  width: 50px;
  height: 50px;
} */
